/* Fonte padrão para a página */
* {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

li {
    color: #ff0000;
}

#formBox {
    height: 100%;
    min-width: 20%;
    max-width: 30%;
}

form {
    height: 80%;
}

#container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#popUp {    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #e1e1e1;
    box-shadow: 2px 4px 8px;
    border-radius: 8px;
    text-align: center;
    z-index: 101;
}

#container {
    position: relative;
    z-index: 1;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
    z-index: 100;
    /* Colocar acima do conteúdo */
}

.formRow {
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Espaçamento nas laterais da página */
body {
    margin-left: 2em;
    margin-right: 2em;
}

/* Estilo para tabelas */
table {
    width: 80%;
    border-collapse: collapse;
}

table th {
    background-color: #f2f2f2; /* Ajuste a cor conforme desejado */
    border-bottom: 3px solid #333; /* Ajuste a cor conforme desejado */
    border-left: 1px solid #777;
    padding: 20px;
    text-align: justify;
}

table td {
    height: 50px;
    border: 1px solid #777;
    padding: 20px;
    vertical-align: top;
    text-align: justify;
    word-wrap: break-word;
    font-size: 1em;
}

table tr:last-child td {
    border-bottom: 1px solid #ff0000; /* Ajuste a cor conforme desejado */
}

/* Efeito de seleção na linha da tabela */
table tr:hover {
    background-color: #eaeaea; /* Ajuste a cor conforme desejado */
}

/* Estilo para campos de formulário */
input, textarea, select {
    width: 90%;
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid #444; /* Cor de borda mais escura */
}

input:focus, textarea:focus, select:focus {
    background-color: #f0f8ff; /* Ajuste a cor para destaque */
}

label {
    font-weight: bold;
}

textarea {
    min-width: 200px;
    max-width: 100%;
    max-height: fit-content;
}

button {
    margin-top: 20px;
}